.App {
  text-align: center;
}

.container{
  position:relative
}

.card{
  box-shadow:0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
  color:#000!important;
  background-color:#f1f1f1!important;
  width: 70%;
}

.card h3{
  text-align: center;
  margin-top: 20px;
}


.row{
  content:"";
  display:table;
  clear:both;
 
}

.section{
  margin-top:16px!important;
  margin-bottom:16px!important;
 
}

label{
  margin-left: 100px;
  float:left;
  width:20%;
  padding:8px;
}

input{
  padding:8px;
  display:block;
  border:none;
  border-bottom:1px solid #ccc;
  width:63%;
}


button{
  color:#000;
  background-color:rgba(126, 247, 132, 0.884);
  padding: 8px;
  width: 30%;
  border: #f1f1f1;
  text-align: center;
}

h1{
  text-align: center;
}